extends layout

block content
  div.container
    h1= title
    p.lead A most excellent tool for making M/MUMPS code more readable.
    div.row
      form(action='/', method='post')
        textarea#codeInput.span11(name="inputCode", placeholder="Input code here...")= codeInput.codeValue
        br
        br
        input.btn.btn-danger.btn-large(type="submit", value="Detersificate!")
        br
      ul#outputTabs.nav.nav-pills
        li.active
          a(href="#MUMPS", data-toggle="pill") M/MUMPS
        li
          a(href="#JSON", data-toggle="pill") JSON
      div.tab-content
        pre#JSON.codeOutput.prettyprint.tab-pane= JSON.stringify(codeResponse.codeValue, null, ' ')
        pre#MUMPS.codeOutput.tab-pane.active!= codeMUMPS
      br