/*Custom CSS to override values in the bootstrap templates. */

body {
  text-align: center;
}

a {
  color: #00B7FF;
}

html, body {
	height: 100%;
}

.container {
	background-color: rgb(77,255,255);
	min-height:100%;
	box-shadow: 0px 0px 3px 3px rgb(77,210,255);
	padding-top: 20px;
}

.container h1 {
	margin-top: 40px;
	text-shadow: 0px 2px 3px #555;
	color: rgb(255,255,255);
}

a#aboutButton:hover {
	text-decoration: none;
}

#codeInput {
	height: 250px;
	text-align: left;
	margin: 0 50px;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.codeOutput {
	min-height: 100px;
	text-align:left;
	padding: 4px 6px;
	margin: 0 50px;
}

#container {
	background-color: black;
	height: 100%;	
}

#outputTabs {
	margin: 10px auto;
	max-width: 420px;
}

#outputTabs li {
	width: 200px;
	margin: 0 5px;
}

/* Output MUMPS specific Styling */

.errorMessage {
	color: red;
}

.lineLabel {
	color: blue;
}

.lineComment {
	color: grey;
}

.lineCommand {
	color: red;
}

.popover-inner {
	width: 900px;
}

.lineIndentation {
	color: black;
}

.lineParameters {
	color: orange;
}

.linePostConditionals {
	color: purple;
}