/*Custom CSS to override values in the bootstrap templates. */

body {
  text-align: center;
}

a {
  color: #00B7FF;
}

html, body {
	height: 100%;
}

.container {
	background-color: rgb(77,255,255);
	min-height:100%;
	box-shadow: 0px 0px 3px 3px rgb(77,210,255);
}

.container h1 {
	margin-top: 40px;
	text-shadow: 0px 2px 3px #555;
	color: rgb(255,255,255);
}

#codeInput {
	height: 250px;
	text-align: left;
	margin: 0 50px;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

#codeOutput {
	min-height: 100px;
	text-align:left;
	padding: 4px 6px;
	margin: 0 50px;
}

#container {
	background-color: black;
	height: 100%;	
}